package ${packagename};
import java.util.Date;
import java.util.ArrayList;
import junit.framework.TestCase;
import org.springframework.beans.factory.BeanFactory;
import org.apache.commons.lang.StringUtils;
import com.techstar.framework.dao.model.QueryListObj;
import ${testpackage}.TestHelper;
import com.techstar.framework.utils.SequenceCreator;
import ${dtopackagename}.${class.getUpEnName()}Dto;
import ${servicepackagename}.I${class.getUpEnName()}Service;

//please add your business methods start
	// to do it
//add your business method end

 /** 
 * 此类为业务对象服务接口测试类
 * @author 
 * @date
 **/
public class Test${class.getUpEnName()}Service extends TestCase{
	
	private I${class.getUpEnName()}Service service ;
	public Test${class.getUpEnName()}Service(String name) {
		super(name);
		
	}
	//构造测试服务环境
	protected void setUp() throws Exception {
		super.setUp();
		BeanFactory factory = TestHelper.createBeanFactory("${proname}");
		//factory.getBean("configurationHelper");
		//factory.getBean("exceptionCacheHelper");
		service = (I${class.getUpEnName()}Service)factory.getBean("i${class.getUpEnName()}Service");
	}

	protected void tearDown() throws Exception {
		super.tearDown();	
		service = null;
	}
 #macro(d)
  #foreach($set in $sets)
	$set
  #end
#end

	//测试基本更新新增方法
	public void _testSaveOrUpdate${class.getUpEnName()}(){
	    
	   ${class.getUpEnName()}Dto dto = new ${class.getUpEnName()}Dto();
      if( StringUtils.isEmpty(dto.${class.getPKGetMethod()}())){
         dto.${class.getPKSetMethod()}( new SequenceCreator().getUID() ); //用于得到标准惟一标示

      }
      #d()
		service.saveOrUpdate${class.getUpEnName()}(dto);
	}
	
	
	public void _testModify${class.getUpEnName()}(){
		${class.getUpEnName()}Dto dto = new ${class.getUpEnName()}Dto();
		#d()
		service.saveOrUpdate${class.getUpEnName()}(dto);
	}
	
	
	public void testList${class.getUpEnName()}(){
		QueryListObj obj = service.list${class.getUpEnName()}();
		System.out.println("得到对象总数:" + obj.getCount());
		
		for (int i = 0; i < obj.getElemList().size(); i++) {
			${class.getUpEnName()}Dto dto = (${class.getUpEnName()}Dto)obj.getElemList().get(i);
			System.out.println(dto.toString());
		}
	}
	
	
	public void _testDelete${class.getUpEnName()}(){
	    //parameter param is test data
		service.delete${class.getUpEnName()}("param");
	}
	

	public void _testLoad${class.getUpEnName()}(){
	    // parameter 101 is test data
		${class.getUpEnName()}Dto dto = service.load${class.getUpEnName()}("param");
		System.out.println(dto.toString());
	}
	//please add your business methods start
	// to do it
//add your business method end
}
