<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">
	<bean id="SpringContext" class="com.sitechasia.webx.core.utils.base.SpringContext">
	</bean>
	<bean id="resourceBinder"
		class="com.sitechasia.webx.core.utils.base.ResourceBinder">
		<property name="location">
			<value>classpath*:com/sitechasia/webx/core/utils/**/test.hbm.xml</value>
		</property>
		<property name="resourcePatternResolver">
			<ref bean="resourcePatternResolver" />
		</property>
	</bean>
	<bean id="resourcePatternResolver"
		class="org.springframework.core.io.support.PathMatchingResourcePatternResolver">
	</bean>
</beans>
